@using SteamBetterWeb.ViewModels.Economy;

@model RaritiesViewModel

<h4>Testing</h4>
<h3>rarities</h3>

<table class="table">
    <thead>
    <tr>


    </tr>
    </thead>
    <tbody>
    </tbody>
</table>
